<nz-steps [nzCurrent]="currentStep" nzType="navigation">
  <nz-step nzTitle="Datos Personales" nzIcon="user"> </nz-step>
  <nz-step nzTitle="Datos del Vehiculo" nzIcon="car"> </nz-step>
  <nz-step nzTitle="Cobertura" nzIcon="table"> </nz-step>
  <nz-step nzTitle="Resumen" nzIcon="smile"> </nz-step>
</nz-steps>

<div class="steps-content">
  <ng-container *ngIf="currentStep === 0">
    <app-personal-data
      (personalData)="onPersonalDataLoaded($event)"
    ></app-personal-data>
  </ng-container>

  <ng-container *ngIf="currentStep === 1">
    <app-vehicle-data
      (vehicleData)="onVehicleDataLoaded($event)"
    ></app-vehicle-data>
  </ng-container>

  <ng-container *ngIf="currentStep === 2">
    <app-insurance-coverage
      [insuredRegistration]="insuredRegistration"
      (selectedCoverage)="onSelectecCoverage($event)"
    ></app-insurance-coverage>
  </ng-container>

  <ng-container *ngIf="currentStep === 3">
    <app-insurance-resume
      [insuredRegistration]="insuredRegistration"
    ></app-insurance-resume>

    <div nz-row nzJustify="center" class="register-button">
      <div nz-col>
        <button nz-button nzType="primary" (click)="registerNewUser()">
          Registarme
        </button>
      </div>
    </div>
  </ng-container>
</div>
