<nz-descriptions
  nzTitle="Información personal"
  nzBordered
  [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 2, sm: 2, xs: 1 }"
>
  <nz-descriptions-item nzTitle="Nombre" [nzSpan]="3"
    >{{ insuredRegistration.personalInformation.name }}
    {{ insuredRegistration.personalInformation.lastName }}</nz-descriptions-item
  >
  <nz-descriptions-item nzTitle="DNI">{{
    insuredRegistration.personalInformation.idNumber
  }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Fec. de Nac.">{{
    insuredRegistration.personalInformation.birthDate | date: "dd/MM/yyyy"
  }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Domicilio" [nzSpan]="2"
    >{{ insuredRegistration.personalInformation.address }},
    {{ insuredRegistration.personalInformation.city?.nombre }},
    {{
      insuredRegistration.personalInformation.province?.nombre
    }}</nz-descriptions-item
  >
  <nz-descriptions-item nzTitle="Teléfono"
    >{{ insuredRegistration.personalInformation.phoneNumber || "-" }}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Celular">{{
    insuredRegistration.personalInformation.cellphoneNumber || "-"
  }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Email" [nzSpan]="3"
    >{{ insuredRegistration.personalInformation.email || "-" }}
  </nz-descriptions-item>
</nz-descriptions>

<nz-descriptions
  nzTitle="Información del vehículo"
  nzBordered
  [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 2, sm: 2, xs: 1 }"
>
  <nz-descriptions-item nzTitle="Marca">{{
    insuredRegistration.vehicleInformation.brand.desc
  }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Modelo">{{
    insuredRegistration.vehicleInformation.model
  }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Año">{{
    insuredRegistration.vehicleInformation.year
  }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Versión">{{
    insuredRegistration.vehicleInformation.version?.desc || "-"
  }}</nz-descriptions-item>
</nz-descriptions>

<nz-descriptions
  nzTitle="Cobertura elegida"
  nzBordered
  [nzColumn]="1"
>
  <nz-descriptions-item nzTitle="Título">{{
    insuredRegistration.coverage.titulo
  }}</nz-descriptions-item>

  <nz-descriptions-item nzTitle="Descripción">{{
    insuredRegistration.coverage.descripcion
  }}</nz-descriptions-item>

  <nz-descriptions-item nzTitle="Franquicia">{{
    insuredRegistration.coverage.franquicia | currency
  }}</nz-descriptions-item>

  <nz-descriptions-item nzTitle="Rating">{{
    insuredRegistration.coverage.puntaje
  }}</nz-descriptions-item>

  <nz-descriptions-item nzTitle="Cubre granizo?">{{
    insuredRegistration.coverage.granizo ? "Si" : "No"
  }}</nz-descriptions-item>

  <nz-descriptions-item nzTitle="Costo">{{
    insuredRegistration.coverage.costo | currency
  }}</nz-descriptions-item>
</nz-descriptions>
