<nz-table
  #basicTable
  [nzData]="coverage"
  [nzScroll]="{ y: '310px' }"
  [nzShowPagination]="false"
>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripción</th>
      <th>Costo</th>
      <th>Franquicia</th>
      <th>Puntaje</th>
      <th>Granizo</th>
      <th nzRight></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let data of basicTable.data | orderBy: ['-puntaje'];
        trackBy: trackById
      "
    >
      <td>{{ data.titulo }}</td>
      <td>{{ data.descripcion }}</td>
      <td>{{ data.costo | currency }}</td>
      <td>{{ data.franquicia | currency }}</td>
      <td nzWidth="50">{{ data.puntaje }}</td>
      <td>
        <div [ngSwitch]="data.granizo">
          <div *ngSwitchCase="true">
            <i
              nz-icon
              [nzType]="'check-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"
            ></i>
          </div>
          <div *ngSwitchDefault>
            <i
              nz-icon
              nzType="close-circle"
              nzTheme="twotone"
              [nzTwotoneColor]="'#f5212b'"
            ></i>
          </div>
        </div>
      </td>
      <td nzRight>
        <button
          nz-button
          nzType="link"
          type="button"
          (click)="selectCoverage(data)"
        >
          Seleccionar
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
